<%- include('partials/header.ejs') %>

    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center text-break error-msg">
                <%= message %>
            </h1>
            <h2 class="text-center error-code">
                <%= error.status %>
            </h2>
            <% if (error.stack) { %>
                <p class="text-break error-stack fw-medium">
                    <%= error.stack %>
                </p>
                <% } %>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>